.projects {
  background: var(--background-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects__header {
  padding: 4rem 0 4rem;
  color: var(--white-ton);
  text-align: center;
}
//______________________________________________________________________
//Project Cards

.projects__grid {
  display: grid;
  grid-gap: 36px;
  grid-template-columns: 1fr;

  @media screen and (min-width: 481px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1025px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
