.project-details {
  &-header {
    //background: blue;
    font-size: 24px;
    font-weight: 500;
    color: var(--white-ton);
    padding: 10px;
  }

  &-description {
    background: var(--primary-color);
    padding: 10px;
    color: var(--white-ton);
  }

  &-links {
    //background: red;
    padding: 10px;
  }
}

.project-details-text-alignment-left {
  text-align: left;
}

.project-details-text-alignment-right {
  text-align: right;
}

.icon {
  color: var(--white-ton);
  padding: 0px 4px;
}
