.project-tile {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.project-tile-alignment-right {
  .project-tile-details-wrapper {
    grid-area: 1/7/1/13;
  }

  .project-tile-image {
    grid-area: 1/1/1/8;
  }
}

.project-tile-alignment-left {
  .project-tile-details-wrapper {
    grid-area: 1/1/1/8;
  }

  .project-tile-image {
    grid-area: 1/7/1/13;
  }
}

.project-tile-details-wrapper {
  //grid-area: 1/7/1/13;
  position: relative;
  align-items: center;
  display: flex;
}

.project-tile-image {
  position: relative;
  width: 100%;
  padding-top: 60%;

  //grid-area: 1/1/1/8;

  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
}
