.welcome-section {
  background: var(--background-dark-black);
  text-align: left;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section-inner-wrapper {
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  grid-gap: 4rem;
}

@media only screen and (min-width: 769px) {
  .welcome-section-inner-wrapper {
    justify-content: center;
    flex-direction: row;
    text-align: left;
  }
}

.welcome-text-head {
  color: white;
}

.font-light {
  background: var(--background-dark-black);
  color: var(--secondary-text-on-dark-background);
  padding: 10px;
}

.welcome-text-head {
  padding: 10px;
}
