.welcome-section-inner-wrapper {
  text-align: justify;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-gap: 4rem;

  @media only screen and (min-width: 481px) {
    text-align: left;
    grid-template-columns: 2.5fr 1.5fr;
  }

  @media only screen and (min-width: 769px) {
    text-align: left;
    grid-template-columns: 3fr 1fr;
  }
}

.welcome-text {
  //background: blue;
  text-align: center;
  padding: 15px;

  @media only screen and (min-width: 768px) {
    padding: 0;
    text-align: initial;
  }

  &__subtitle {
    padding-bottom: 16px;
  }
}
