.welcome-section {
  background: var(--background-black);
  text-align: left;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-section-inner-wrapper {
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;

  @media only screen and (min-width: 769px) {
    justify-content: center;
    flex-direction: row;
    text-align: left;
    grid-template-columns: 3fr 1fr;
    grid-gap: 4rem;
  }
}
