.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: var(--background-black);
  color: var(--white-ton);
  height: 100vh;
  text-align: center;
}
.contact-section > * {
  width: 100%;
}
.contact-section-header {
  font-size: 2.5rem;

  margin: 32px;
}
.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid var(--primary-color);
  border-radius: 30px;
  align-items: center;
}
@media only screen and (min-width: 769px) {
  .contact-links {
    flex-direction: row;
  }
}

.contact-details {
  color: var(--rosegolden);
  text-shadow: 2px 2px black;
  transition: all 0.2s ease;
  padding: 0.5rem;
}
@media only screen and (min-width: 769px) {
  .contact-details {
    padding: 1rem;
  }
}

.contact-details:hover {
  transform: translateY(-6px);

  svg {
    fill: var(--interactive-hovered);
  }
}
