.contact-section {
  background: var(--background-black);
  color: var(--white-ton);
  text-align: center;
}
.contact-section > * {
  width: 100%;
}
.contact-section-header {
  margin-bottom: 32px;
}
.contact-links {
  display: flex;
  justify-content: center;
  border: solid var(--primary-color);
  border-radius: 30px;
  align-items: center;
}
@media only screen and (min-width: 769px) {
  .contact-links {
    flex-direction: row;
  }
}

.contact-details {
  color: var(--rosegolden);
  text-shadow: 2px 2px black;
  transition: all 0.2s ease;
  padding: 0.5rem;
}
@media only screen and (min-width: 769px) {
  .contact-details {
    padding: 1rem;
  }
}

.contact-details:hover {
  transform: translateY(-4px);

  svg {
    fill: var(--interactive-hovered);
  }
}
