.nav-wrapper {
  //background-color: rgb(192 121 96 / 20%);
  // background: hsl(0deg 0% 81% / 50%);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px 0;
  z-index: 300;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;

  & li {
    list-style: none;
    padding: 12px 24px;
    transition: all 0.2s ease-in-out;

    & a {
      color: var(--white-ton);
    }
    & a:hover {
      color: var(--interactive-hovered);
    }
  }
}

@media only screen and (min-width: 769px) {
  .nav-list {
    justify-content: flex-end;
  }
}
